@charset "utf-8";
/******************************************************************
Code by: Milos Zekovic
******************************************************************/

@import url('reset.css');
@import url('fonts/fonts.css');

/* global */
html,
body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background: #f3f3f3;
    -webkit-text-size-adjust:none;
    color: #000;
    font-family: "SEBBasicRegular","Arial","Helvetica","sans-serif";
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
}

a { color:#d0140d; text-decoration:none; }
a:hover { color:#b20000; }
a:active { color:#f9f9f9; }

/* basic */
#envelope-wrapper {
    min-height:100%;
    position:relative;
    width:100%;
}

/* header */
header {
    display: block;
    text-align: center;
}
header img {
    height: 40px;
    width: auto;
    margin-top: 15px;
}
@media screen and (max-width:981px) {
    header img { 
        height: 30px;
        margin-top: 10px;
    }
}

/* envelope */
#envelope {
   background: #d0140d;
   width: 300px;
   height: 200px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -50px;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
}
@media screen and (max-height:530px) {
    #envelope {
        top: 60%; 
    }
}
#envelope:before, #envelope:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 28px;
  left: 10px;
  width: 50%;
  top: 80%;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
#envelope:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

#lid {
  position: relative;
  top: -150px;
  z-index: 900;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 150px 150px 150px;
  border-color: transparent transparent #d0140d transparent;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
#lid.lid {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#letter {
  position: relative;
  background: #e5e5e5;
  width: 290px;
  height: 200px;
  left: 5px;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  display: block;
  font-size: 17px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  top: -150px;
  z-index: 889;
}

#letter.letter {
  z-index: 901;
  top: -330px;
  animation: out 2s linear;
  -webkit-animation: out 2s linear;
  -moz-animation: out 2s linear;
}

#letter p, #letter span {
    display: block;
}

#letter p {
    padding-bottom: 10px;
}

#letter span {
  text-align: center;
  color:#f9f9f9;
  padding: 13px 0;
  font-size: 16px;
  cursor: pointer;
  background:#b20000;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #d0140d), color-stop(1, #b20000) );
	background-image: -o-linear-gradient(bottom, #d0140d 0%, #b20000 100%);
	background-image: -moz-linear-gradient(bottom, #d0140d 0%, #b20000 100%);
	background-image: -webkit-linear-gradient(bottom, #d0140d 0%, #b20000 100%);
	background-image: -ms-linear-gradient(bottom, #d0140d 0%, #b20000 100%);
  background-image: linear-gradient(to bottom, #d0140d 0%, #b20000 100%);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  width: 70%;
  margin: 10px auto 0;
  box-shadow: 0 8px 6px -6px #666;
}

#letter:hover span {
  background:#b20000;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #b20000), color-stop(1, #d0140d) );
	background-image: -o-linear-gradient(bottom, #b20000 0%, #d0140d 100%);
	background-image: -moz-linear-gradient(bottom, #b20000 0%, #d0140d 100%);
	background-image: -webkit-linear-gradient(bottom, #b20000 0%, #d0140d 100%);
	background-image: -ms-linear-gradient(bottom, #b20000 0%, #d0140d 100%);
  background-image: linear-gradient(to bottom, #b20000 0%, #d0140d 100%);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

#letter:active span {
  opacity:.80;
  -moz-opacity:.80;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

#left-corner {
  position: relative;
  top: -350px;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 200px 0 0 300px;
  border-color: transparent transparent transparent #a10303;
  z-index: 995;
}

#right-corner {
  position: relative;
  top: -550px;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 200px 300px;
  border-color: transparent transparent #b20000 transparent;
  z-index: 995;
}

@keyframes out {
  0% {top: -155px;}
  100% {top: -330px;}
}
@-moz-keyframes out {
  0% {top: -155px;}
  100% {top: -330px;}
}
@-webkit-keyframes out {
  0% {top: -155px;}
  100% {top: -330px;}
}